html {
    background-color: white;
    max-width: 650px;
    max-height: 280px;
    margin: 0 auto;
}

/* body css */
body {
    background-color: #73c2Fb;
    display: block;
    border-radius: 15px;
}

/* header, footer css */
header, footer {
    background-color: #0f52ba;
    color: white;
    text-align: center;
}
header img {
    width: 200px;
    height: auto;
}
h1 {
    text-align: center;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}
img {
    border-style: none;
}

/* main css */
main {
    color: #030202;
    padding: 10px;
}
h2, li {
    font-family: 'Quicksand', sans-serif;
}

li a {
    color: black;
}


/* footer css */
h5 {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 2px;
    font-family: 'Quicksand', sans-serif;
}

footer a {
    color: white;
}