@media only screen and (min-width: 936px) {

    .content {
    max-width: 1080px;
    margin: 0 auto;
    }

    .principles {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 25px;
    }







}