@media only screen and (min-width: 720px) {

    header {
        max-width: 1080px;
        margin: 0 auto;
    }

    /* main rules here */
    main {
        max-width: 1080px;
        margin: auto;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding-bottom: 15px;
    }
    .gallery figure:hover {
        box-shadow: 3px 0 8px black;
    }
    .gallery img {
        max-width: 100%;
        display: block;  
    }

    /* nav rules here */
    nav button {
        display: none;
    }
    nav ul {
        max-width: 1080px;
        margin: auto;
    }
    nav ul.hide {
        display: inline;
    }
    nav ul#primaryNav {
        display: flex;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }

    /* footer rules here */
    footer {
        max-width: 1080px;
        margin: 0 auto;
    }

}