body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

header {
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
}

img {
    border: 1px solid #333;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
}