@media only screen and (min-width: 480px) {

    header {
        max-width: 720px;
        margin: 0 auto;
    }

    /* main rules here */
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-bottom: 15px;
    }
    .gallery img {
        max-width: 100%;
        display: block;
    }
}