@media only screen and (min-width: 720px) {

    header {
        max-width: 1080px;
        margin: 0 auto;
    }

    /* main rules here */
    main {
        max-width: 1080px;
        margin: auto;
    }
    
    main img.hero {
        width: 100%;
        padding-bottom: 10px;
        display: block;
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #cards div {
        display: block;
    }

    article {
        display: block;
        margin-top: 20px;
        border: 3px solid black;
        padding-left: 15px;
    }
    .articleSplit {
        display: block;
    }
    .articleImage {
        float: right;
        width: 230px;
        padding-left: 15px;
    }
    article p {
        padding-left: 10px;
        padding-right: 20px;
    }

    /* nav rules here */
    nav {
        max-width: 1080px;
        margin: auto;
    }
    nav button {
        display: none;
    }
    nav ul {
        max-width: 1080px;
        margin: auto;
    }
    nav ul.hide {
        display: inline;
    }
    nav ul#primaryNav {
        display: flex;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }

    /* footer rules here */
    footer {
        max-width: 1080px;
        background-color: #fa8223;
        margin: 10px auto;
    }
    footer h2 {
        font-size: 26px;
    }
    .footerSplit {
        display: flex;
        flex-direction: row-reverse;
    }
    footer img {
        width: 400px;
    }
    .location {
        padding-top: 30px;
        padding-right: 100px;
    }
    .pin {
        display: block;
    }
    .social {
        display: inline-block;
        padding-top: 10px;
    }
    .contact {
        display: inline;
        padding-right: 125px;
    }
    .contact img {
        display: inline;
        width: 30px;
        padding-right: 5px;
    }
    .contact div img {
        display: inline;
        padding-top: 10px;
        padding-left: 10px;
        width: 70px;
    }

}