@media only screen and (min-width: 480px) {

    main img.hero {
        width: 100%;
        padding-bottom: 10px;
        display: block;
    }
    
    #cards div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #cards div:nth-child(2) figure {
        grid-column: 2;
        grid-row: 1;
    }
    #cards div:nth-child(2) section {
        grid-column: 1;
    }
    
}