@media only screen and (min-width: 720px) {

    header {
        max-width: 1080px;
        margin: 0 auto;
    }

    /* main rules here */
    main {
        max-width: 1080px;
        margin: auto;
        position: relative;
    }
    main .heroImage {
        width: 100%;
    }
    .summary {
        background-color: rgba(57, 40, 148, 0.541);
        color: white;
        border: 1px solid black;
        top: 120px;
        left: 50px;
        position: absolute;
        width: 285px;
        height: 285px;
        padding: 10px;
    }
    .summary h2 {
        text-decoration: underline;
    }
    main .forecastImage {
        display: flex;
        justify-content: space-around;
        background-color: #fa8223;
        padding: 6px;
    }
    main .forecastImage img {
        border: 2px double black;
        width: 125px;
    }

    .five {
        text-align: left;
        background-color: transparent;
    }
    .forecast {
        border: none;
    }

    article {
        display: block;
        margin-top: 20px;
        border: 3px solid black;
        padding-left: 15px;
    }
    .articleSplit {
        display: block;
    }
    .articleImage {
        float: right;
        width: 230px;
        padding-left: 15px;
    }
    article p {
        padding-left: 10px;
        padding-right: 20px;
    }

    /* nav rules here */
    nav button {
        display: none;
    }
    nav ul {
        max-width: 1080px;
        margin: auto;
    }
    nav ul.hide {
        display: inline;
    }
    nav ul#primaryNav {
        display: flex;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }

    /* footer rules here */
    footer {
        max-width: 1080px;
        background-color: #fa8223;
        margin: 10px auto;
    }
    footer h2 {
        font-size: 26px;
    }
    footer h5 {
        text-align: center;
        padding-bottom: 10px;
    }
    .footerSplit {
        display: flex;
        flex-direction: row-reverse;
    }
    footer img {
        width: 400px;
    }
    .location {
        padding-top: 30px;
        padding-right: 100px;
    }
    .location img {
        display: inline;
    }
    .pin {
        display: block;
    }
    .social {
        display: inline-block;
        padding-top: 10px;
    }
    .contact {
        display: inline;
        padding-right: 125px;
    }
    .contact img {
        display: inline;
        width: 30px;
        padding-right: 5px;
    }
    .contact div img {
        display: inline;
        padding-top: 10px;
        padding-left: 10px;
        width: 70px;
    }

}