/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules  */
body {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

/* header rules here */
header {
    background-color: #fa8223;
    color: black;
    padding: 4px 1%;
}
header img {
    float: left;
    width: 100px;
    background-color: #ffdf77;
    border-radius: 50px;
    padding: 5px;
    margin: 5px 15px 0 10px;
}

/* main rules here */
div#message {
    background-color: cornflowerblue;
}
div.showme {
    display: block;
}
div.hideme {
    display: none;
}

main .heroImage {
    width: 100%;
}
main .summary {
    padding-left: 15px;
}
h1 {
    padding-left: 15px;
}

.forecastTitle {
    display: none;
}
section.forecast {
    display: none;
}

article {
    padding: 10px;
}
.articleImage {
    width: 100%;
    padding-bottom: 15px;
}

/* nav rules here */
nav {
    background-color: #63c5da;
    padding: 5px 0;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,.4);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
nav ul.hide {
    display: none;
}

/* footer rules here */
footer {
    background-color: #fa8223;
    color: black;
    padding: 1px;
}
.location img {
    padding: 15px;
    width: 100%;
    display: none;
}
.social {
    display: none;
}
.pin {
    display: none;
}
.contact {
    padding-left: 30px;
}
.contact img {
    width: 30px;
    padding-right: 5px;
}
.contact p {
    padding: 5px 0;
    margin: 0;
}
footer h5 {
    text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}