@media only screen and (min-width: 480px) {
/* -------------------------------------------------------INDEX PAGE STYLE-------------------------------------------------------- */
    /* NAV STYLE */
    nav button {
        display: none;
    }
    nav ul {
        list-style: none;
        text-align: center;
    }
    nav ul.hide {
        display: inline;
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
    }
    nav ul li {
        display: inline-block;
        padding: 0 20px;
    }


    /* MAIN STYLE */
    main div.purpose {
        max-width: 560px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    main div.goal {
        max-width: 560px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    main div.events {
        width: 480px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    /* weather */
    main div.weather {
        max-width: fit-content;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 200px 100px 100px 100px;
        grid-gap: 5px;
    }
    main div.weather div.weather1 {
        margin-right: 70px;
    }

    /* company */
    main .company img {
        width: 100%;
        box-shadow: 0 11px 18px -8px rgba(0, 0, 0, 0.75);
        margin-bottom: 25px;
    }
    main .company-content {
        border: 1px solid #000;
        text-align: justify;
        background-color: #685044;
        color: #fff;
    }

    /* FOOTER STYLE */
    footer .contact {
        display: inline-block;
    }
    footer .social {
        display: inline-block;
    }

/* -------------------------------------------------------CITY PAGE STYLE-------------------------------------------------------- */
    main .abudhabi h2, p {
        padding-left: 15px;
    }

    main .abudhabi img {
        justify-content: center;
    }

    main .nurai,
    main .beach,
    main .palace,
    main .wadi,
    main .clymb,
    main .ferrari,
    main .louve,
    main .mosque,
    main .hosn {
        padding: 20px 0;
    }

/* -------------------------------------------------------JOIN PAGE STYLE-------------------------------------------------------- */
    main .levels {
        max-width: 480px;
        margin: 10px auto;
    }





/* -------------------------------------------------------CONTACT PAGE STYLE-------------------------------------------------------- */
    main {
        position: relative;
    }
    main .banner {
        display: none;
        position: absolute;
    }
    main .comms {
        max-width: 1080px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main .board {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }











}