/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    background-color: #F9DEC9;
    color: #000;
    font-family: 'Quicksand', sans-serif;
}

/* -------------------------------------------------------INDEX PAGE STYLE-------------------------------------------------------- */
/* HEADER STYLE */
header {
    background-color: #3a405a;
    color: #fff;
    text-align: center;
}
header img {
    display: inline-block;
    width: 100px;
}
header h1 {
    display: inline-block;
    margin: 0;
}
.wrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* NAV STYLE */
nav {
    background-color: #7699D4;
    padding: 1px 0;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #000;
}
nav ul li a:hover {
    background-color: #3a405a;
    color: #fff;
    border: 1px solid #fff;
}
nav ul li.active a {
    background-color: #E9AFA3;
    color: #000;
}
nav ul.hide {
    display: none;
}

/* MAIN STYLE */
main img {
    width: 100%;
}

/* purpose */
main div.purpose {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #e9afa3;
}

/* goal */
main div.goal {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #e9afa3;
}
main div.purpose p, div.goal p, div.events p {
    font-size: 18px;
}

/* events */
main div.events {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #000;
    margin-bottom: 25px;
    background-color: #e9afa3;
}

/* weather */
main div.weather {
    max-width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}
main div.weather h5 {
    font-size: 19px;
}
main div.weather img {
    width: 75px;
}
main .forecast1, .forecast2, .forecast3 {
    text-align: center;
    border: 1px solid black;
    background-color: #e9afa3;
}
main div.weather div.weather1 {
    border: 1px solid black;
    padding-left: 10px;
    background-color: #e9afa3;
    text-align: center;
}

/* company */
main .company {
    margin: 35px auto;
}
main .company .title {
    text-align: center;
    font-size: 20px;
}
main .company-content {
    border: 1px solid #000;
    text-align: justify;
    background-color: #685044;
    color: #fff;
}
main .company p {
    padding: 7px 7px 0px 7px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
}

/* register */
main .register {
    border: 1px solid #000;
    max-width: fit-content;
    margin: 25px auto;
    padding: 10px 15px;
    background-color: #e9afa3;
}
main .register a {
    font-size: 18px;
    color: #000;
    list-style: none;
}

/* FOOTER STYLE */
footer {
    background-color: #3a405a;
}

footer .info {
    max-width: fit-content;
    margin: 0 auto;
    padding-top: 15px;
}

/* contact */
footer .contact {
    background-color: #7699D4;
    border: 1px solid #000;
    padding: 15px;
    font-size: 17px;
}
footer .contact h5 {
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 20px;
}
footer .contact img {
    width: 25px;
}
footer .pin {
    padding-top: 5px;
}

/* social */
footer .social {
    background-color: #7699D4;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}
footer .social p {
    font-size: 18px;
}
footer .social img {
    width: 40px;
    padding: 5px;
    
}

/* copywrite */
footer .copywrite h5 {
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

/* -------------------------------------------------------CITY PAGE STYLE-------------------------------------------------------- */

main .abudhabi h2, p {
    padding-left: 15px;
}

main .nurai,
main .beach,
main .palace,
main .wadi,
main .clymb,
main .ferrari,
main .louve,
main .mosque,
main .hosn {
    padding: 20px 0;
}


/* -------------------------------------------------------JOIN PAGE STYLE-------------------------------------------------------- */
/* MAIN STYLE */
form fieldset {
    max-width: 540px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem; 
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #e9afa3;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
}
form label.top input:required {
    border-left: 6px solid red;
}
form label.top input:required:valid {
    border-left: 6px solid green;
}

.buttonC {
    text-align: center;
    padding-bottom: 10px;
}

main .levels h3 {
    text-align: center;
}
main .levels p, h4.add {
    text-align: center;
}
main .levels .gold {
    margin-bottom: 40px;
}

.non,
.bronze,
.silver,
.gold {
    margin: 10px 0;
    padding: 5px 10px;
    line-height: 30px;
}
.non {
    border: 2px solid #000;
}
.bronze {
    border: 2px solid brown;
}
.silver {
    border: 2px solid silver;
}
.gold {
    border: 2px solid gold;
}

/* thank you page */
main .welcome {
    text-align: center;
}

/* -------------------------------------------------------DIRECTORY PAGE STYLE-------------------------------------------------------- */
main .companies img {
    width: 180px;
}
main div.column1 img,
main div.column2 img,
main div.column3 img {
    width: 180px;
}
.column1 div,
.column2 div,
.column3 div {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}
.column1 div:hover,
.column2 div:hover,
.column3 div:hover {
    background-color: #e9afa3;
}



/* -------------------------------------------------------CONTACT PAGE STYLE-------------------------------------------------------- */
main {
    position: relative;
}

/* banner */
main .banner {
    display: none;
    position: absolute;
}

/* comms */
main .comms {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
main .reach, .contact, .email {
    border: 1px solid #000;
    margin: 10px;
}

/* map */
main .map {
    width: 100%;
}

/* cform */
main .cform {
    margin-bottom: 30px;
}
main .cform form input.submitBtn {
    border: none;
    background-color: #e9afa3;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
}

.contactB {
    text-align: center;
}

/* board */
main .board {
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
main .board img {
    width: 175px;
}
main .board h4 {
    text-align: left;
}











/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}